
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
   */
body{
width:100%;
min-height: 100vh;
display:0;
justify-content: center;
align-items: center;
background: #efefef;
line-height: 1.5;

background-repeat: no-repeat; 
background-attachment: fixed; 
background-size: cover;



width: 100vw;
height: 100vh;
background: linear-gradient(to bottom right, #274B74 0%, #8233C5 50%, #E963FD 100%);
font-family: "Montserrat", sans-serif;

} 



.container-SearchBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  padding:  15px 40px 15px 30px;
  align-items: center;
}

input[type=text] {
  position: relative;
  padding: 15px 40px 15px 20px;
  width: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
}
input[type=text]:focus {
  width: 300px;
}

#search {
  position: relative;
  left: -37px;
  color: #8233C5;
}

.wrap{
   display: block;
    width: 100%;
    margin:0 auto;
    margin-top: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 345px;
    background: #fff;
    text-align: center;
    font-size: 16;
    font-family: sans-serif;
    float: left;
    margin: 10px;
    height: 500px;
    align-items: center;
    flex-wrap: 0;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,00.6);
}
.card img{
  margin-top: 10px;
max-width: 300px;
max-height: 200px;
}

.card h3{
font-size: 1.3rem;
text-transform: uppercase;
margin:10px 0;
}
.container{
    padding: 1px 10px;
    justify-content: center;
}

.card p{
margin: 0;
padding: 0;
margin-bottom: 10px;
overflow: hidden; 

}

.card .btngrp{  
flex-direction: 0;
}
.card .btn{  
width: 80px;
display: block;
background: green;
color: #fff;
text-align: center;
padding:1px 10px;
border-radius: 5px;
display: inline-block;
}

/* a{
 margin-top: 20px;
  text-decoration: none;
} */