
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
   */
body{
width:100%;
min-height: 100vh;
display:0;
justify-content: center;
align-items: center;
background: #efefef;
line-height: 1.5;
background-image: url("Background1.jpg");
background-repeat: no-repeat; 
background-attachment: fixed; 
background-size: cover;
} 



.wrap{
   display: block;
    width: 100%;
    margin:0 auto;
    margin-top: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 345px;
    background: #fff;
    text-align: center;
    font-size: 16;
    font-family: sans-serif;
    float: left;
    margin: 10px;
    height: 500px;
    align-items: center;
    flex-wrap: 0;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,00.6);
}
.card img{
  margin-top: 10px;
max-width: 300px;
}

.card h3{
font-size: 1.3rem;
text-transform: uppercase;
margin:10px 0;
}
.container{
    padding: 1px 10px;
}

.card p{
margin: 0;
padding: 0;
margin-bottom: 10px;
}

.card .btngrp{  
flex-direction: 0;
}
.card .btn{  
width: 80px;
display: block;
background: green;
color: #fff;
text-align: center;
padding:1px 10px;
border-radius: 5px;
}

/* a{
 margin-top: 20px;
  text-decoration: none;
} */