<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <title>Price Prediction</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="Static/PricePrediction.css">
  <link rel="stylesheet" href="Static/navigation.css">

</head>

<body>
 
  <header>
    <div class="logo">PredictPricer</div>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
        <ul>
            <li>
                <a href="" class="active">Home</a>
            </li>
            <li>
                <a href="">Portfolio</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
        </ul>
    </nav>
    <label for="nav_check" class="hamburger">
        <div></div>
        <div></div>
        <div></div>
    </label>
</header>
  
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  
  
  <div class="form-container">
  <form method= "POST"  action="">
    <h3>Predict Price Of property</h3>


    <label id = "lblHouseType" for="txtHouseType">Select House Type:</label>
    <select id="txtHouseType" name="txtHouseType">  
      <option value="Title_House">Single-Family Home</option>
      <option value="Title_Apartment House">Apartment</option>
      <option value="Title_House Villa">Villas</option>
    </select>

    <table>
      <tbody>
        <tr>
          <td id="chkNegotiableCell"><label for="chkBrandNew">Brand New</label></td>
        <td><input type="checkbox" id="chkBrandNew" name="chkBrandNew"></td>
        </tr>
      </tbody>
    </table>  
    
    
            <label id="lblCity" for="txtDistrict">Select the District</label>
            <select id="txtDistrict" name="txtDistrict">
              <option value=""></option>
              <option value="District_Colombo">Colombo</option>
              <option value="District_Gampaha">Gampaha</option>
            </select>
         
            <label id="lblLocalArea" for="txtTown">Select the Local Area</label>
            <select id="txtTown" name="txtTown">
              <option value=""></option>
              <!-- <option value="Town_ Colombo 1">Colombo 1 Fort (Kotuwa)</option>
              <option value="Town_ Colombo 2">Colombo 2 Slave Island</option>
              <option value="Town_ Colombo 3">Colombo 3 Colpetty (Kollupitiya)</option>
              <option value="Town_ Colombo 4">Colombo 4 (Bambalapitiya)</option>
              <option value="Town_ Colombo 5">Colombo 5 (Narahenpita)</option>
              <option value="Town_ Colombo 6">Colombo 6 (Wellawatta)</option>
              <option value="Town_ Colombo 7">Colombo 7 Cinnamon Garden (Kuruwita Uyana)</option>
              <option value="Town_ Colombo 8">Colombo 8 (Borella)</option>
              <option value="Town_ Colombo 9">Colombo 9 (Dematagoda)</option>
              <option value="Town_ Colombo 10">Colombo 10 (Maradana)</option>
              <option value="Town_ Colombo 11">Colombo 11 Pettah (Pitakotuwa)</option>
              <option value="Town_ Colombo 12">Colombo 12 Hulftsdorp (Aluthkade)</option>
              <option value="Town_ Colombo 13">Colombo 13 Bloemendhal (Kotahena & Kochchikade)</option>
              <option value="Town_ Colombo 14">Colombo 14 (Grandpass)</option>
              <option value="Town_ Colombo 15">Colombo 15 (Mattakkuliya)</option> -->
           
            </select>
          


   
        <label  id = "lblBedrooms" for="Beds">Bedrooms</label>
                <input type="number" placeholder="No.Of Bedrooms" id="Beds" name = "Beds">
  
        <label id = "lblBathrooms" for="Baths">Bathrooms</label>
          <input type="number" placeholder="No.Of Bathrooms" id="Baths" name = "Baths">
   
  
  
        <label  id = "lblLandSize" for="txtLandsize">Land Size (perches)</label>
            <input type="number" placeholder="Area of the Land" id="txtLandsize" name = "txtLandsize">
    
    
        <label for="txtHouseSize">Size of House (Sqft)</label>
        <input type="number" id = "txtHouseSize" name = "txtHouseSize" placeholder="Size of the house in sqft" >
  
 
        <button type="submit" id="btnPost" name="btnPost" value="Predict Price">Predict Price</button>
        <div id="predictionAlert"></div>

    {% if pred_value != 0 %}
    <p align= "center" class= "prediction">
     Estimated Price: LKR. {{pred_value}}
    </p>
    {% endif %}
    <p align= "center" class= "prediction">
      {{error_value }}
     </p>
  </form>


  
 
  </div>

  <script>
    document.getElementById('txtDistrict').addEventListener('change', function () {
      var townSelect = document.getElementById('txtTown');

      // Code to update the options for txtTown will go here
      if (this.value === 'District_Gampaha') {
        townSelect.options.length = 0; // Clear existing options
        townSelect.options.add(new Option('Delgoda', 'Town_ Delgoda'));
        townSelect.options.add(new Option('Divulapitiya', 'Town_ Divulapitiya'));
        townSelect.options.add(new Option('Gampaha', 'Town_ Gampaha City'));
        townSelect.options.add(new Option('Ganemulla', 'Town_ Ganemulla'));
        townSelect.options.add(new Option('Ja-Ela', 'Town_ Ja-Ela'));
        townSelect.options.add(new Option('Kadawatha', 'Town_ Kadawatha'));
        townSelect.options.add(new Option('Katunayake', 'Town_ Katunayake'));
        townSelect.options.add(new Option('Kelaniya', 'Town_ Kelaniya'));
        townSelect.options.add(new Option('Kesbewa', 'Town_ Kesbewa'));
        townSelect.options.add(new Option('Kiribathgoda', 'Town_ Kiribathgoda'));
        townSelect.options.add(new Option('Minuwangoda', 'Town_ Minuwangoda'));
        townSelect.options.add(new Option('Mirigama', 'Town_ Mirigama'));
        townSelect.options.add(new Option('Negombo', 'Town_ Negombo'));
        townSelect.options.add(new Option('Ragama', 'Town_ Ragama'));
        townSelect.options.add(new Option('Nittambuwa', 'Town_ Nittambuwa'));
        townSelect.options.add(new Option('Seeduwa', 'Town_ Seeduwa'));
        townSelect.options.add(new Option('Veyangoda', 'Town_ Veyangoda'));
        townSelect.options.add(new Option('Wattala', 'Town_ Wattala'));
        // Add more options as needed
      } else if (this.value === 'District_Colombo') {
        townSelect.options.length = 0; // Clear existing options
        townSelect.options.add(new Option('Colombo 1 Fort (Kotuwa)', 'Town_ Colombo 1'));
        townSelect.options.add(new Option('Colombo 2 Slave Island', 'Town_ Colombo 2'));
        townSelect.options.add(new Option('Colombo 3 Colpetty (Kollupitiya)', 'Town_ Colombo 3'));
        townSelect.options.add(new Option('Colombo 4 (Bambalapitiya)', 'Town_ Colombo 4'));
        townSelect.options.add(new Option('Colombo 5 (Narahenpita)', 'Town_ Colombo 5'));
        townSelect.options.add(new Option('Colombo 6 (Wellawatta)', 'Town_ Colombo 6'));
        townSelect.options.add(new Option('Colombo 7 Cinnamon Garden (Kuruwita Uyana)', 'Town_ Colombo 7'));
        townSelect.options.add(new Option('Colombo 8 (Borella)', 'Town_ Colombo 8'));
        townSelect.options.add(new Option('Colombo 9 (Dematagoda)', 'Town_ Colombo 9'));
        townSelect.options.add(new Option('Colombo 10 (Maradana)', 'Town_ Colombo 10'));
        townSelect.options.add(new Option('Colombo 11 Pettah (Pitakotuwa)', 'Town_ Colombo 11'));
        townSelect.options.add(new Option('Colombo 12 Hulftsdorp (Aluthkade)', 'Town_ Colombo 12'));
        townSelect.options.add(new Option('Colombo 13: Bloemendhal (Kotahena & Kochchikade)', 'Town_ Colombo 13'));
        townSelect.options.add(new Option('Colombo 14 (Grandpass)', 'Town_ Colombo 14'));
        townSelect.options.add(new Option('Colombo 15 (Mattakkuliya)', 'Town_ Colombo 15'));
        townSelect.options.add(new Option('Godagama', 'Town_ Godagama'));
        townSelect.options.add(new Option('Hanwella', 'Town_ Hanwella'));
        townSelect.options.add(new Option('Homagama', 'Town_ Homagama'));
        townSelect.options.add(new Option('Kaduwela', 'Town_ Kaduwela'));
        townSelect.options.add(new Option('Homagama', 'Town_ Homagama'));
        townSelect.options.add(new Option('Kohuwala', 'Town_ Kohuwala'));
        townSelect.options.add(new Option('Kolonnawa', 'Town_ Kolonnawa'));
        townSelect.options.add(new Option('Kottawa', 'Town_ Kottawa'));
        townSelect.options.add(new Option('Kotte', 'Town_ Kotte'));
        townSelect.options.add(new Option('Maharagama', 'Town_ Maharagama'));
        townSelect.options.add(new Option('Malabe', 'Town_ Malabe'));
        townSelect.options.add(new Option('Meegoda', 'Town_ Meegoda'));
        townSelect.options.add(new Option('Moratuwa', 'Town_ Moratuwa'));
        townSelect.options.add(new Option('Mount Lavinia', 'Town_ Mount Lavinia'));
        townSelect.options.add(new Option('Nawala', 'Town_ Nawala'));
        townSelect.options.add(new Option('Nugegoda', 'Town_ Nugegoda'));
        townSelect.options.add(new Option('Padukka', 'Town_ Padukka'));
        townSelect.options.add(new Option('Pannipitiya', 'Town_ Pannipitiya'));
        townSelect.options.add(new Option('Rajagiriya', 'Town_ Rajagiriya'));
        townSelect.options.add(new Option('Ratmalana', 'Town_ Ratmalana'));
        townSelect.options.add(new Option('Piliyandala', 'Town_ Piliyandala'));
        townSelect.options.add(new Option('Talawatugoda', 'Town_ Talawatugoda'));
        townSelect.options.add(new Option('Wellampitiya', 'Town_ Wellampitiya'));
      }
      // Add more conditions for other districts as needed
    });
  </script>

  <script>
    document.getElementById('pricePredictionForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent form submission
      showAlert();
    });

    function showAlert() {
      var houseType = document.getElementById('txtHouseType').value;
      var district = document.getElementById('txtDistrict').value;
      var town = document.getElementById('txtTown').value;
      var bedrooms = document.getElementById('Beds').value;
      var bathrooms = document.getElementById('Baths').value;
      var landSize = document.getElementById('txtLandsize').value;
      var houseSize = document.getElementById('txtHouseSize').value;

      var predValue = '{{ pred_value }}';
      var errorValue = '{{ error_value }}';

      var message = "Price Prediction Form Values:\n\n";
      message += "House Type: " + houseType + "\n";
      message += "District: " + district + "\n";
      message += "Town: " + town + "\n";
      message += "Bedrooms: " + bedrooms + "\n";
      message += "Bathrooms: " + bathrooms + "\n";
      message += "Land Size: " + landSize + " perches\n";
      message += "House Size: " + houseSize + " sqft\n";
      message += "Estimated Price: " + predValue + "\n";
      message += "Error Message: " + errorValue + "\n";

      alert(message);
    }
  </script>
  
</body>

</html>